In [259]:
from requests import get
from bs4 import BeautifulSoup
url ="https://www.imdb.com/search/title/?title_type=feature&release_date=2019-10-01,&user_rating=7.0,10.0"
#url ="https://www.imdb.com/search/title/?title_type=feature,tv_movie&release_date=2019-10-01,2019-10-31"
response=get(url)
html_soup=BeautifulSoup(response.text,'html.parser')
type(html_soup)
movie_containers =html_soup.find_all('div',class_ = 'lister-item mode-advanced')

#movie_containers
years =[]
for container in movie_containers:
    text=container.find('div',class_ ="ribbonize")
    years.append((text))
        
#len(years)

import re
count=0
title=[]
for i in years:
    s=str(years[count]).split()   
    x = re.search('((".*"))',s[3])
    title.append(x.group())
    count=count+1

len(title) #[No.of movies selected]

50

In [266]:
def Get_reviews(url):
    response=get(url)
    html_soup=BeautifulSoup(response.text,'html.parser')
    type(html_soup)
    movie_containers =html_soup.find_all('div',class_ = 'lister-item mode-detail imdb-user-review collapsable')

    description =[]
    for container in movie_containers:               
        text=container.find('div',class_ ="text show-more__control").text
        description.append((text))
    return description


count=0
for i in title:
    a="https://www.imdb.com/title/"
    b1="/reviews?spoiler=hide&sort=reviewVolume&dir=desc&ratingFilter=1"
    b2="/reviews?spoiler=hide&sort=reviewVolume&dir=desc&ratingFilter=2"
    b3="/reviews?spoiler=hide&sort=reviewVolume&dir=desc&ratingFilter=3"
    b7="/reviews?spoiler=hide&sort=reviewVolume&dir=desc&ratingFilter=7"
    b8="/reviews?spoiler=hide&sort=reviewVolume&dir=desc&ratingFilter=8"
    b9="/reviews?spoiler=hide&sort=reviewVolume&dir=desc&ratingFilter=9"
    b10="/reviews?spoiler=hide&sort=reviewVolume&dir=desc&ratingFilter=10"
    
    titlee=title[count].strip('""')
    url1=a+titlee+b1
    url2=a+titlee+b2
    url3=a+titlee+b3
    url7=a+titlee+b7
    url8=a+titlee+b8
    url9=a+titlee+b9
    url10=a+titlee+b10
    count=count+1
    
    pos_reviews=(pos_reviews+Get_reviews(url7)+Get_reviews(url8)+Get_reviews(url9)+Get_reviews(url10))
    neg_reviews=(neg_reviews+Get_reviews(url1)+Get_reviews(url2)+Get_reviews(url3))











        
        
#Getting all the positive reviews of movie
#url7="https://www.imdb.com/title/tt4777008/reviews?spoiler=hide&sort=reviewVolume&dir=desc&ratingFilter=7"
#url8="https://www.imdb.com/title/tt4777008/reviews?spoiler=hide&sort=reviewVolume&dir=desc&ratingFilter=8"
#url9="https://www.imdb.com/title/tt4777008/reviews?spoiler=hide&sort=reviewVolume&dir=desc&ratingFilter=9"
#url10="https://www.imdb.com/title/tt4777008/reviews?spoiler=hide&sort=reviewVolume&dir=desc&ratingFilter=10"
#pos_reviews=[]
#pos_reviews=(Get_reviews(url7)+Get_reviews(url8)+Get_reviews(url9)+Get_reviews(url10))
#neg_reviews=(Get_reviews(url1)+Get_reviews(url2)+Get_reviews(url3))

In [267]:
len(pos_reviews)

1552

In [268]:
len(neg_reviews)

397

In [270]:
import pandas as pd
data1=pd.DataFrame(neg_reviews)
data1

                                                     0
0    Not realistic. This movie was supposed to be f...
1    Just like most Disney films it's forgettable. ...
2    What a waste of 25 quid.Enjoyed the first one ...
3    There was a mixture of old themes such as the ...
4    So bad, better see Gemini Man.\nOr Joker\nOr a...
..                                                 ...
392  Trash movie don't waste your time because of r...
393  Little entertaining... Bt not so good to worth...
394  This movie is on some crack or smoking blunts....
395  Very poor acting of each and every actor....an...
396  Not realistic. This movie was supposed to be f...

[397 rows x 1 columns]

In [272]:
counter_positive=0
counter_negative=0
for line in pos_reviews:
    f=open("C:\\Users\\Praneet Shetty\\ADS\\IMDB_WEB\\Positive\\Positive_"+str(counter_positive)+".txt","w+",encoding="utf-8")
    f.write(line)
    f.close()
    counter_positive=counter_positive+1

    
    
for line in neg_reviews:
    f=open("C:\\Users\\Praneet Shetty\\ADS\\IMDB_WEB\\Negative\\Negative_"+str(counter_negative)+".txt","w+",encoding="utf-8")
    f.write(line)
    f.close()
    counter_negative=counter_negative+1